*{
	margin: 0;
	padding: 0;
}

input[type=button],input[type=submit],input[type=file],button{ 
	cursor: pointer !important;
	-webkit-appearance: none !important;
}

/*改变placeholder字体颜色*/
.holder::-webkit-input-placeholder { /* WebKit browsers */
	color:#b8b6c3;
}
.holder:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color:#b8b6c3;
}
.holder::-moz-placeholder { /* Mozilla Firefox 19+ */
	color:#b8b6c3;
}
.holder:-ms-input-placeholder { /* Internet Explorer 10+ */
	color:#b8b6c3;
}

.box{
	width: 30rem;
	height: 53.36rem;
	/*padding-top: 2.52rem;*/
	background-size: 100% 100%;
	box-sizing: border-box;
	overflow: hidden;
}
.box .head{
	width: 30rem;
	height: 3.52rem;
	position: relative;
}
.box .head img{
	width: 0.96rem;
	height: 1.8rem;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	left: 1rem;
}

.box .head p{
	text-align: center;
	font-size: 1.36rem;
	line-height: 3.52rem;
	color: #303030;
}

.user{
	width: 100%;
	height: 10rem;
	position: relative;
	margin-top: 3.84rem;
}
.user p{
	height: 2.28rem;
	font-size: 1.12rem;
	margin-bottom: 3.04rem;
	position: relative;
}

.user p span:last-child{
	display: none;
	position: absolute;
	top: 2.28rem;
	left: 4rem;
	width: 24.4rem;
	height: 1rem;
	color: red;
	padding-left: 1rem;
	box-sizing: border-box;
	font-size: 1rem;
}
.user p label{
	float: left;
	margin-left: 1.6rem;
	margin-top: 0;
	width: 1.8rem;
	height: 1.8rem;
	background: url(../img/user&password@2x.png.png) no-repeat;
	background-position: -0.1rem -0.1rem;
	background-size: 4rem 4rem;
}
.user p:first-child label{
	background-position: -0.1rem -2.1rem;
}
.user p:last-child label{
	background-position: -2.24rem -2.1rem;
}
.user p input{
	width: 24.08rem;
	height: 2.28rem;
	float: right;
	line-height: 2rem;
	font-size: 1.12rem;
	margin-right: 1.6rem;
	padding-left: 0.5rem;
	outline: none;
	border: none;
	background: none;
	border-bottom: 1px solid #b8b6c1;
	color: #666;
	box-sizing: border-box;
}
.user p input:nth-of-type(2){
	position: absolute;
	right: 1.6rem;
	bottom: 0.56rem;
	width: 7.64rem;
	height: 1.44rem;
	color: #6c5fb7;
	font-size: 1.12rem;
	line-height: 1.44rem;
	padding-left: 1rem;
	text-align: center;
	background: none;
	border: none;
	outline: none;
	box-sizing: border-box;
	border-left: 0.04rem solid #b8b6c1;
}


.next{
	width: 100%;
	height: 3.52rem;
	margin-top: 4rem;
	position: relative;
}
.next input{
	width: 26.8rem;
	height: 100%;
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	border-radius: 3.52rem;
	background: #83d2d7;
	outline: none;
	border: none;
	color: #fff;
	text-align: center;
	line-height: 3.52rem;
	font-size: 1.12rem;
}
